<h1> You chose <%= @choice %>! Your opponent chose <%= @opp_choice %>!</h1>
<h2><img src='/images/<%= @choice %>.png' width='200'> vs. <img src='/images/<%= @opp_choice %>.png' width='200'></h2>


      <% if @outcome == "win" %>
  <h1> Because <%= @choice %> beats <%= @opp_choice %>, you have won! Yay! </h1>
      <% elsif @outcome == "tie" %>
  <h1> This game was a draw!</h1>
      <% elsif @outcome == "lose" %>
  <h1> Because <%= @opp_choice %> beats <%= @choice %>, you have lost! You suck at this game! </h1>
      <% end %>

  <form action='/game' method='GET'>
    <input type='submit' value='Again!'>
  </form>
  <br>
  <form action='/reset' method='POST'>
    <input type='submit' value='Ragequit!'>
  </form>