<h1> <%= @player.name %> chose <%= @choice %>! <%= @friend.name %> chose <%= @friend_choice %>!</h1>
<h2><img src='/images/<%= @choice %>.png' width='200'> vs. <img src='/images/<%= @friend_choice %>.png' width='200'></h2>


      <% if @outcome == "win" %>
  <h1> Because <%= @choice %> beats <%= @friend_choice %>, <%= @player.name %> is the winner! </h1>
      <% elsif @outcome == "tie" %>
  <h1> This game was a draw!</h1>
      <% elsif @outcome == "lose" %>
  <h1> Because <%= @friend_choice %> beats <%= @choice %>, <%= @friend.name %> is the winner! </h1>
      <% end %>

  <form action='/game' method='GET'>
    <input type='submit' value='Again!'>
  </form>
  <br>
  <form action='/reset' method='POST'>
    <input type='submit' value='Ragequit!'>
  </form>