<section class='outcome'>

<h1> <%= @player.name %> chose <%= @player.choice %>! <%= @friend.name %> chose <%= @friend.choice %>!</h1>
<h2><img src='/images/<%= @player.choice %>.png' width='200'> vs. <img src='/images/<%= @friend.choice %>.png' width='200'></h2>


      <% if @outcome == "win" %>
  <h1> Because <%= @player.choice %> beats <%= @friend.choice %>, <%= @player.name %> is the winner! </h1>
      <% elsif @outcome == "tie" %>
  <h1> This game was a draw!</h1>
      <% elsif @outcome == "lose" %>
  <h1> Because <%= @friend.choice %> beats <%= @player.choice %>, <%= @friend.name %> is the winner! </h1>
      <% end %>

  <br>
  <form action='/reset' method='POST'>
    <input type='submit' value='Ragequit!'>
  </form>

</section>